.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modalContent {
  position: absolute;
  background: #fff;
  border-radius: 30px;
  height: auto;
  padding: 60px;
  animation: appear 0.2s ease-in-out;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.divWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.closeBtn {
  position: absolute;
  top: 16px;
  right: 16px;
  background: transparent;
  cursor: pointer;
  padding: 4px;
  line-height: 0;
  border: none;
  border-radius: 50%;
}

.closeIcon {
  width: 24px;
  height: 24px;
  stroke-width: 2px;
  stroke: #262626;
}

.imgWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: #fff4df;
}

.smallImgCat {
  width: 44px;
  height: 44px;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 346px;
  height: 138px;
  margin-bottom: 28px;
}

.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.03em;
  color: #f6b83d;
  margin-bottom: 20px;
}

.text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #2b2b2a;
}

.btnContainer {
  display: flex;
  gap: 8px;
}

.loginBtn {
  border-radius: 30px;
  padding: 14px 47px;
  width: 140px;
  height: auto;
  background: #f6b83d;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: #fff;

  cursor: pointer;
  text-decoration: none;
  box-sizing: border-box;
}

.loginBtn:hover {
  color: #f6b83d;
  background: #fff4df;
}

.resistrBtn {
  border-radius: 30px;
  padding: 14px 26px;
  width: 140px;
  height: auto;
  background: #fff4df;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: #f6b83d;
  border: none;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  box-sizing: border-box;
}

.resistrBtn:hover {
  background: #fbe7c1;
}
