.container {
  display: flex;
  flex-direction: column;
}

.workTime {
  border-radius: 30px;
  padding: 8px;
  width: auto;
  height: 32px;
  text-align: center;
  margin-left: auto;
  background: #fff4df;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #f6b83d;
  box-sizing: border-box;
}

.InfoContainer {
  display: flex;
  gap: 20px;
}

.friendImg {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .friendImg {
    width: 90px;
    height: 90px;
  }
}

.contentContainet {
}

.textContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.04em;
  color: #262626;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: -0.04em;
    color: #262626;
    margin-bottom: 20px;
  }
}

.friendsInfo {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: rgba(38, 38, 38, 0.5);
}

.info {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #262626;
  padding-left: 2px;
  text-decoration: none;
  cursor: pointer;

  display: inline-block;
  max-width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;
}

.info:hover {
  color: #f6b83d;
}
