.container {
}

.list {
  max-width: 1153px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  column-gap: 35px;
  margin: 60px 0;
}

.item {
  border-radius: 15px;
  width: 361px;
  height: auto;
}
