.container {
}

.list {
  max-width: 335px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 24px 0 44px 0;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .list {
    max-width: 704px;
    row-gap: 32px;
    column-gap: 24px;
    margin: 44px 0 60px 0;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .list {
    max-width: 1153px;
    row-gap: 40px;
    column-gap: 35px;
    margin: 60px 0;
  }
}

.item {
  border-radius: 15px;
  width: 335px;
  height: auto;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .item {
    width: 340px;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .item {
    width: 361px;
  }
}
