.container {
  padding-top: 96px;
}

.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 54px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #262626;
}

.list {
  max-width: 1153px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  column-gap: 35px;
  margin: 60px 0;
}

.item {
  border-radius: 15px;
  width: 361px;
  height: auto;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.wrapperError {
  border-radius: 50px;
  width: 300px;
  height: 200px;
  background: #f6b83d;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 40px;
}

.noDataText {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 97%;
  letter-spacing: -0.03em;
  color: #fff;
  text-align: center;
}

.span {
  color: rgba(255, 255, 255, 0.4);
}
