.container {
}

.newsImg {
  border-radius: 15px;
  width: 361px;
  height: 226px;
}

.contentContainet {
  width: 361px;
  height: 194px;
  padding: 28px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.textContent {
}

.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: -0.03em;
  color: #262626;
  margin-bottom: 14px;

  display: -webkit-box; /* важливо для багаторядкового обрізання */
  -webkit-line-clamp: 2; /* кількість рядків, які показуємо */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.02em;
  color: #262626;
  margin-bottom: 28px;

  display: -webkit-box; /* важливо для багаторядкового обрізання */
  -webkit-line-clamp: 3; /* кількість рядків, які показуємо */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content {
  display: flex;
  justify-content: space-between;
}

.date {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.02em;
  color: rgba(38, 38, 38, 0.5);
}

.newsLink {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #f6b83d;
  cursor: pointer;
}
