.container {
  max-width: 375px;
  padding: 28px 20px 80px;
  box-sizing: border-box;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .container {
    padding: 32px 32px 80px;
    max-width: 768px;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 32px 63px 32px 64px;
    margin: 0 auto;
  }
}

.content {
}
