.list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin: 20px 0 40px 0;
  box-sizing: border-box;
}

.item {
  border: 1px solid rgba(38, 38, 38, 0.1);
  border-radius: 20px;
  width: 440px;
  height: 130px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
