.form {
  display: flex;
  flex-direction: column;
}

.formContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.emailInputContainer {
  position: relative;
  display: flex;
  flex-direction: column;
}

.passwordInputContainer {
  display: flex;
  flex-direction: column;
  position: relative;
}

.eyeBtn {
  padding: 0;
  position: absolute;
  top: 16px;
  right: 16px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.eyeIcon {
  width: 22px;
  height: 22px;
}

.input {
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
  padding: 16px 266px 16px 16px;
  width: auto;
  height: auto;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: rgba(38, 38, 38, 0.8);
}

input::placeholder {
  color: rgba(38, 38, 38, 0.5);
}

.input:hover,
.input:focus {
  outline: none;
  border: 1px solid #f6b83d;
  box-shadow: 0 0 4px rgba(247, 154, 5, 0.999);
}

.contentContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.btnForm {
  border: none;
  border-radius: 30px;
  padding: 16px 157px;
  width: 424px;
  height: 52px;
  background: #f6b83d;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  margin-top: 34px;
}

.btnForm:hover,
.btnForm:focus {
  background-color: #f7d28f;
  color: #000;
}

.text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: -0.03em;
  color: rgba(38, 38, 38, 0.5);
}

.loginLink {
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 143%;
  letter-spacing: -0.03em;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #f6b83d;
  cursor: pointer;
  padding-left: 2px;
}

.error {
  color: #ef2447;
  font-size: 14px;
  font-family: 'Manrope', sans-serif;
}

.success {
  color: #08aa83;
}

/* Input error and success */

.inputError {
  border: 1px solid #ef2447;
}

.inputSuccess {
  border: 1px solid #08aa83;
}

.emailIconSuccess,
.passwordIconSuccess {
  fill: none;
  stroke-width: 1.5px;
  stroke: #08aa83;
}

.emailIconError,
.passwordIconError {
  fill: none;
  stroke-width: 2px;
  stroke: #ef2447;
}

.emailIconSuccess,
.emailIconError {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
}

.passwordIconSuccess,
.passwordIconError {
  position: absolute;
  top: 50%;
  right: 48px;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
}
