.container {
  position: relative;
  width: 100%;
  max-width: 335px; /* для мобільного */
}

/* Загальні стилі react-select */
.select {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: #262626;
}

/* Контейнер інпуту */
.select__control {
  border-radius: 30px;
  border: 1px solid rgba(38, 38, 38, 0.15);
  box-shadow: none;
  min-height: 42px;
  padding-right: 40px; /* місце для кнопки clear */
  cursor: text;
}

.select__control--is-focused {
  border-color: #f6b83d;
  box-shadow: 0 0 3px rgba(247, 154, 5, 0.999);
}

.select__value-container {
  padding: 0 14px;
}

.select__input-container {
  padding: 0;
}

.select__single-value {
  color: #262626;
}

.select__placeholder {
  color: #262626;
}

/* Кнопка clear */
.select__clear-indicator {
  padding: 0 8px;
  cursor: pointer;
}

.select__dropdown-indicator {
  display: none; /* ховаємо стрілку */
}

.select__menu {
  border-radius: 20px;
  overflow: hidden;
  z-index: 10;
}

.select__option {
  padding: 10px 14px;
  cursor: pointer;
}

.select__option--is-focused {
  background-color: #f6b83d33; /* легкий hover */
}

.select__option--is-selected {
  background-color: #f6b83d;
  color: #fff;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .container {
    max-width: 230px;
  }

  .select__control {
    min-height: 48px;
  }

  .select__option {
    padding: 12px 16px;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .container {
    max-width: 227px;
  }
}
