.contentContainer {
  margin-top: 96px;
}

.textNotices {
  padding-left: 32px;
}

.filters {
  margin-top: 40px;
}

.wrapperError {
  border-radius: 50px;
  width: 300px;
  height: 200px;
  background: #f6b83d;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 40px;
}

.noDataText {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 97%;
  letter-spacing: -0.03em;
  color: #fff;
  text-align: center;
}

.span {
  color: rgba(255, 255, 255, 0.4);
}
