.container {
  max-width: 375px;
  width: 100%;
  height: 812px;
  background-image: url('/public/image-1x.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .container {
    background-image: url('/image-2x.png');
  }
}

/* Tablet */
@media screen and (min-width: 768px) {
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .container {
    max-width: inherit;
    width: 100%;
    height: 800px;
  }
}

.btn {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 100px;
  line-height: 100%;
  letter-spacing: -0.04em;
  color: #fff;
}
