.container {
  width: 251px;
  height: auto;
  display: flex;
  gap: 8px;
  flex-direction: column;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
  }
}
