.container {
  display: flex;
  gap: 32px;
  padding: 32px;
  width: 1153px;
}

.leftContainer {
  border-radius: 60px;
  width: 520px;
  height: 928px;
  padding: 40px;
  background: #fff;
  box-sizing: border-box;
}

.rightContainer {
  margin-top: 40px;
}

.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 54px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #262626;
}

.btnAddPet {
  border-radius: 30px;
  padding: 10px 20px;
  width: 118px;
  height: 40px;
  background-color: #f6b83d;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: #fff;
  cursor: pointer;
  border: none;
  text-decoration: none;

  display: flex;
  box-sizing: border-box;
  gap: 8px;
}

.btnAddPet:hover {
  background: #f7d28f;
}

.iconplus {
  width: 18px;
  height: 18px;
  stroke-width: 1.5px;
  stroke: #fff;
}

.btnContainer {
  display: flex;
  gap: 8px;
  margin-bottom: 32px;
}

.btnFavorites {
  border-radius: 30px;
  padding: 14px;
  width: 142px;
  height: 48px;
  background-color: #f6b83d;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: #fff;
  cursor: pointer;
  border: none;
}

.btnFavorites:hover {
  background: #f7d28f;
}

.btnViewed {
  border-radius: 30px;
  padding: 14px 45px;
  width: 142px;
  height: 48px;
  background-color: #fff;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: #262626;
  cursor: pointer;
  border: none;
}

.btnViewed:hover {
  background: #fbe7c1;
}
