.container {
  max-width: 375px;
  padding: 10px 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 16px 32px;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 32px;
  }
}

.profilePageHeader {
  max-width: 1216px !important;
}

.wrapper {
  max-width: 1216px;
  margin: 0 auto;
  display: flex;
  gap: 32px;
  box-sizing: border-box;
  margin-top: 32px;
}

.leftContainer {
  position: relative;
  width: 520px;
  min-height: 928px;
  padding: 40px;
  border-radius: 60px;
  background: #fff;
  box-sizing: border-box;
  flex-shrink: 0;
}

.contentWrapper {
  max-width: 440px;
}

.rightContainer {
  margin-top: 40px;
}

.wrapperUser {
  border-radius: 30px;
  padding: 10px 14px;
  width: 80px;
  height: 38px;
  background: #f6b83d;

  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.textUser {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #fff;
}

.iconUser {
  width: 18px;
  height: 18px;
  fill: #fff;
  stroke: #fff;
  stroke-width: 2px;
}

.btnAddPet {
  border-radius: 30px;
  padding: 10px 20px;
  width: 118px;
  height: 40px;
  background-color: #f6b83d;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: #fff;

  display: flex;
  align-items: center;
  gap: 8px;

  cursor: pointer;
  border: none;
  text-decoration: none;
}

.btnAddPet:hover {
  background: #f7d28f;
}

.iconplus {
  width: 18px;
  height: 18px;
  stroke: #fff;
  stroke-width: 1.5px;
}

.btnContainer {
  display: flex;
  gap: 8px;
  margin-bottom: 32px;
}

@media screen and (max-width: 1279px) {
  .wrapper {
    flex-direction: column;
  }

  .leftContainer {
    width: 100%;
  }
}
