.container {
  width: auto;
  height: 800px;
  background: #f9f9f9;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.content {
  position: relative;
  border-radius: 60px;
  width: 592px;
  height: 654px;
  background: #f6b83d;
}

.rectangle {
  width: 530px;
  height: 601px;
  position: absolute;
  top: 55px;
  left: 30px;
}

.imgCat {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 536px;
  height: 632px;
}

.wrapper {
  border-radius: 60px;
  width: 592px;
  background: #fff;
}

.formWrapper {
  width: 424px;
  padding: 77px 84px;
}

.formTitle {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 54px;
  line-height: 100%;
  letter-spacing: -0.04em;
  color: #262626;
  margin-bottom: 16px;
}

.formText {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 122%;
  letter-spacing: -0.02em;
  color: #262626;
  margin-bottom: 32px;
}

.infoWrapper {
  border-radius: 20px;
  width: 294px;
  height: 121px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  position: relative;
  z-index: 10;
  top: 66%;
  left: 8%;
}

.divWrapper {
  display: flex;
  margin-bottom: auto;
  margin-top: 16px;
}

.imgWrapper {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background: #fff4df;
  display: flex;
  justify-content: center;
  align-items: center;
}

.smallImgCat {
  width: 32px;
  height: 32px;
}

.infoCat {
  width: 194px;
  height: 84px;
}

.infoCatText {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.catName {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: #f6b83d;
}

.catBirthday {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: rgba(38, 38, 38, 0.5);
  display: flex;
}

.span {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: #262626;
  padding-left: 4px;
}

.textInfo {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: rgba(38, 38, 38, 0.8);
  width: 194px;
}
