.list {
  max-width: 1153px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  row-gap: 28px;
  column-gap: 20px;
}

.item {
  border-radius: 15px;
  width: 371px;
  height: auto;
  background: #fff;
  padding: 12px 12px 40px 20px;
}
