/* Home style */

.container {
  display: flex;
  align-items: center;
}

.logo {
  cursor: pointer;
}

.icon {
  width: 106px;
  height: 28px;
}

/* Base style */
.defaultContainer {
  width: 1153px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
