.container {
  width: 107px;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.svgwrapper {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #fff4df;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userIcon {
  width: 24px;
  height: 24px;
  color: #f6b83d;
}

.text {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #262626;
  cursor: pointer;
  text-decoration: none;
}

.text:hover {
  color: #f6b83d;
}

.textHome {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.textHome:hover {
  color: #fbe7c1;
}
