.container {
  width: auto;
  height: 800px;
  background: #f9f9f9;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.content {
  position: relative;
  border-radius: 60px;
  width: 592px;
  height: 654px;
  background: #f6b83d;
}

.rectangle {
  width: 572px;
  height: 715px;
  position: absolute;
  top: 55px;
  left: 30px;
}

.imgDog {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 512px;
  height: 660px;
}

.wrapper {
  border-radius: 60px;
  width: 592px;
  height: auto;
  background: #fff;
}

.formWrapper {
  width: 424px;
  height: 426px;
  padding: 114px 84px;
}

.formTitle {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 54px;
  line-height: 100%;
  letter-spacing: -0.04em;
  color: #262626;
  margin-bottom: 16px;
}

.formText {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 122%;
  letter-spacing: -0.02em;
  color: #262626;
  margin-bottom: 32px;
}
