.container {
}

.cardImgWrapper {
  border-radius: 16px;
  width: 315px;
  height: 178px;
  overflow: hidden;
  position: relative;
}

.noticesImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 30%;
  display: block;
  position: static;
}

.wrapper {
  width: 315px;
  height: 114px;
}

.textContent {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 8px;
}

.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  color: #2b2b2a;
}

.starIcon {
  fill: #ffc531;
  width: 16px;
  height: 16px;
}

.reating {
  display: flex;
}

.reatingNumb {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #2b2b2a;
}

.content {
  display: flex;
  width: 315px;
  height: auto;
  gap: 20px;
  margin-bottom: 16px;
}

.info {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 10px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: rgba(38, 38, 38, 0.5);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.infoText {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: #262626;
}

.btnTextContent {
  margin-top: 24px;
}

.text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #2b2b2a;
}

.price {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  color: #2b2b2a;
}

.btnContainer {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
}

.btnLearnMore {
  border-radius: 30px;
  padding: 14px 89px;
  width: 257px;
  height: 48px;
  background: #f6b83d;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: #fff;
  cursor: pointer;
  border: none;
}

.btnLearnMore:hover {
  background-color: #f7d28f;
  color: #000;
}

.btnHeart {
  border-radius: 30px;
  padding: 15px;
  width: 48px;
  height: 48px;
  background: #fff4df;
  cursor: pointer;
  border: none;
}

.btnHeart:hover {
  background: #fbe7c1;
}

.heartIcon {
  width: 18px;
  height: 18px;
}
