.container {
  padding-top: 96px;
}

.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 54px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #262626;
  margin-bottom: 40px;
}

.list {
  width: 1153px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  column-gap: 32px;
}

.item {
  border-radius: 16px;
  padding: 24px;
  width: 363px;
  height: auto;
  background: #fff;
  box-sizing: border-box;
}
