.container {
  border-radius: 30px;
  width: 1216px;
  height: 216px;
  background: #fff4df;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  margin-top: 40px;
  padding: 40px;
  box-sizing: border-box;
}

.filterContainer {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.icon {
  position: absolute;
  right: 10px;
  pointer-events: none;
  width: 18px;
  height: 18px;
  stroke-width: 2px;
  stroke: #262626;
  fill: none;
}

.selectWrapper {
  position: relative;
  width: 190px;
}

.selectHeader {
  border-radius: 30px;
  padding: 14px 95px 14px 14px;
  width: auto;
  height: auto;
  background: #fff;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
}

.selectList {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 188px;
  border: 1px solid #f7f7f7;
  border-radius: 12px;
  box-shadow: 0 4px 36px 0 rgba(0, 0, 0, 0.02);
  background: #fff;
  overflow-y: auto;
  z-index: 10;
  list-style: none;
  padding: 8px 0;
  margin: 4px 0 0 0;
}

.selectList li {
  padding: 8px 16px;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: #8d929a;
  text-transform: capitalize;
}

.selectList li.active {
  color: #101828;
}

.selectList li:hover {
  background-color: #f0f0f0;
}

.inputContainer {
  display: flex;
}

.inputWrapper {
  position: relative;
}

.inputWrapper input {
  border-radius: 0 12px 12px 0;
  width: 160px;
  height: 44px;
  background: #f7f7f7;
  padding: 0 12px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: #f6b83d;
  border: none;
  outline: none;
  padding-left: 40px;
}

.inputWrapper .inputFrom {
  padding-left: 60px;
}

.inputWrapper:first-child input {
  border-radius: 12px 0 0 12px;
  border-right: 1px solid #dadde1;
}

.inputWrapper:last-child input {
  border-radius: 0 12px 12px 0;
}

.inputLabel {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #101828;
  pointer-events: none;
}

.label {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  color: #8d929a;
  margin-bottom: 8px;
  display: block;
}

.btn {
  border: none;
  border-radius: 12px;
  padding: 12px 50px;
  width: 156px;
  height: 44px;
  background-color: #3470ff;

  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: #fff;
  cursor: pointer;
}

.btn:hover {
  background-color: #0b44cd;
}

.btn:disabled {
  background-color: #8d929a;
  cursor: not-allowed;
  opacity: 0.6;
}

.selectList li.active {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: #f6b83d;
}

.selectList {
  scrollbar-width: thin;
  border-radius: 12px;
  scrollbar-width: 12px;
  scrollbar-color: #cfcecd #ffffff;
}

.selectList::-webkit-scrollbar {
  width: 20px;
}

.stickWrapper {
  margin: 20px 0;
}

.stick {
  width: 1136px;
  height: 1px;
  background-color: rgba(38, 38, 38, 0.1);
}

/* RADIO BTN */

.radioBtnWrapper {
  width: auto;
  height: 48px;
  display: flex;
  gap: 8px;
}

.radioLabel {
  border-radius: 30px;
  padding: 14px;
  width: auto;
  height: 48px;
  background-color: #fff;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: #262626;
  box-sizing: border-box;
  cursor: pointer;

  display: flex;
  gap: 8px;
}

.radioLabel:hover {
  background-color: #f6b83d;
  color: #fff;
}

.radio {
  display: none;
}

.radioLabel:has(.radio:checked) {
  background-color: #f6b83d;
  color: #fff;
}

.closeBtn {
  display: none;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.closeIcon {
  width: 18px;
  height: 18px;
  stroke-width: 2px;
  stroke: #fff;
}

.radioLabel:has(.radio:checked) .closeBtn {
  display: block;
}
