.btnTrash {
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 10;
  border-radius: 30px;
  padding: 10px;
  width: 38px;
  height: 38px;
  background: #fff4df;
  cursor: pointer;
  border: none;
}

.btnTrash:hover {
  background: #fbe7c1;
}

.icon {
  width: 18px;
  height: 18px;
  stroke-width: 1.5px;
  stroke: #f6b83d;
  fill: none;
}
