.container {
  width: auto;
  height: 800px;
  padding: 16px 32px;
}

.contentHome {
  border-radius: 60px;
  width: auto;
  height: 384px;
  background: #f6b83d;
  padding: 16px 64px 32px 64px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.textContainer {
  display: flex;
  align-items: flex-end;
}

.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 90px;
  line-height: 97%;
  letter-spacing: -0.03em;
  color: #fff;
  width: 760px;
  margin-right: auto;
}

.spanHome {
  color: rgba(255, 255, 255, 0.4);
}

.text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 122%;
  letter-spacing: -0.02em;
  color: #fff;
  width: 255px;
  height: 88px;
}

.imgHome {
  width: 100%;
  height: 384px;
}
