.container {
  max-width: 375px;
  height: auto;
  padding: 10px 20px;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 16px 32px;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1216px;
  }
}

.contentHome {
  border-radius: 30px;
  width: auto;
  height: 390px;
  background: #f6b83d;
  padding: 18px 20px 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .contentHome {
    border-radius: 60px;
    width: auto;
    height: 496px;
    background: #f6b83d;
    padding: 27px 32px 44px 32px;
    display: flex;
    flex-direction: column;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .contentHome {
    height: 384px;
    padding: 16px 64px 32px 64px;
  }
}

.textContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 24px;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .textContainer {
    display: flex;
    align-items: flex-end;
    gap: 32px;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .textContainer {
    flex-direction: row;
  }
}

.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 50px;
  line-height: 96%;
  letter-spacing: -0.03em;
  color: #fff;
  width: 295px;
  height: 144px;
  margin-right: auto;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .title {
    font-size: 80px;
    width: 640px;
    height: 154px;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .title {
    font-size: 90px;
    line-height: 97%;
    width: 760px;
    height: 174px;
    margin-right: auto;
  }
}

.spanHome {
  color: rgba(255, 255, 255, 0.4);
}

.text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #fff;
  width: 295px;
  height: 54px;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .text {
    font-size: 18px;
    line-height: 122%;
    width: 255px;
    height: 88px;
  }
}

.imgHome {
  width: 100%;
  height: 384px;
  border-radius: 30px;
  object-fit: cover;
  object-position: center;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .imgHome {
    height: 496px;
    border-radius: 60px;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .imgHome {
    height: 384px;
  }
}
