.container {
  margin-right: auto;
  margin-left: 280px;
}

.nav {
  display: flex;
  gap: 10px;
}

.linkHome {
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 30px;
  padding: 15px 20px;
  width: auto;
  height: auto;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.linkHome:hover {
  color: #f6b83d;
  background: #fff4df;
}

.activeHome {
  background: #fff4df;
}

/* Base style */

.linkBase {
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
  padding: 15px 20px;
  width: 80px;
  height: 50px;
  width: auto;
  height: auto;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: #262626;
  text-decoration: none;
  cursor: pointer;
}

.linkBase:hover {
  border: 1px solid #f6b83d;
}

.activeBase {
  border: 1px solid #f6b83d;
}
