.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Tablet */
@media screen and (min-width: 768px) {
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .container {
    display: block;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 236px;
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .nav {
    flex-direction: row;
    margin-top: 0;
  }
}

.linkHome {
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 30px;
  padding: 15px 20px;
  width: auto;
  height: auto;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.linkHome:hover {
  color: #f6b83d;
  background: #fff4df;
}

.activeHome {
  background: #fff4df;
}

/* Base style */

.linkBase {
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
  padding: 15px 20px;
  width: 80px;
  height: 50px;
  width: auto;
  height: auto;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: #262626;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}

.linkBase:hover {
  border: 1px solid #f6b83d;
}

.activeBase {
  border: 1px solid #f6b83d;
}
