.container {
  border-radius: 60px;
  width: 1216px;
  height: 654px;
  background: #f6b83d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}

.errorWrapper {
  display: flex;
  margin-bottom: 40px;
}

.number {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 300px;
  line-height: 100%;
  color: #fff;
}

.imgWrapper {
  position: relative;
  border-radius: 1000px;
  width: 280px;
  height: 280px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
}

.imgNotFound {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover; /* заповнити контейнер */
  object-position: center;
}

.text {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 20px;
}

.link {
  border-radius: 30px;
  padding: 14px 30px;
  width: 162px;
  height: auto;
  background: #fff4df;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: #f6b83d;
  text-decoration: none;
  cursor: pointer;
  border: none;
  text-align: center;
}

.link:hover {
  background: #fbe7c1;
}
